* {
  font-family: "Nunito", sans-serif;
}


.display-4 {
  font-size: 40pt;
  font-weight: bold;
}

.lead {
  font-size: 20pt;
  font-weight: bold;
}

.col-sm {
  height: 50px;
  display: grid;
  place-items: center;
}

.action-widget {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  color: rgb(63, 64, 71);
  border-radius: 5px;
  height: 100%;
  width: 80%;
  display: grid;
  place-items: center;
}

#blurb {
  background-color: rgba(62, 61, 119, 0.5);
}

#search-div {
  background-color: rgb(61, 72, 119);
}

#table-wrapper {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  overflow-y: auto;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 5px 5px 10px 0px #00000033;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

table tr th {
  font-size: 18pt;
}

table tr td {
  font-size: 14pt;
}

table td,
table th {
  border: 1px solid rgb(76, 78, 85);
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: rgb(205, 207, 214);
}

table tr:hover {
  background-color: rgb(91, 92, 97);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #1f3a83;
}

.navbar {
  background-color: rgb(73, 70, 80) !important;
  height: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.navbar-brand {
  margin: auto;
}

a {
  color: #485384;
}

a:hover {
  color: #2d2e72;
}

.row {
  margin-bottom: 50px;
}
